basePath: /api/v1
definitions:
  entity.Response:
    properties:
      data: {}
      message:
        type: string
      serverTime:
        type: string
      status:
        type: string
    type: object
  greet.HelloRequest:
    properties:
      name:
        minLength: 3
        type: string
    required:
    - name
    type: object
host: id.greet.org
info:
  contact:
    email: billyimmcul2010@gmail.com
    name: Billy Kore
    url: https://www.swagger.io/support
  description: Greet service API specification.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://swagger.io/terms/
  title: API Specification
  version: "1.0"
paths:
  /hello:
    get:
      consumes:
      - application/json
      description: Get all message history
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/entity.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/entity.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/entity.Response'
      summary: Get history
      tags:
      - greet
    post:
      consumes:
      - application/json
      description: Say hello to the name
      parameters:
      - description: Say Hello Request
        in: body
        name: HelloRequest
        required: true
        schema:
          $ref: '#/definitions/greet.HelloRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/entity.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/entity.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/entity.Response'
      summary: Say hello
      tags:
      - greet
schemes:
- http
- https
swagger: "2.0"
